include doctypeTemplate
body
    div#note-list
        input#title-note(placeholder='Title' name='title')
        ul#todo-list
        div#todo-manage
            input#list-input(type='text' placeholder='enter task')
            button#list-button(type='submit') Add
            button#save-list(type='submit') Save
script(src='/add-lists.js')