extends /index
block header
    div.note
        input#title-note(placeholder='Title' name='title')
        textarea#textarea(cols='45' rows='5' placeholder='Enter note' name='description')
        div#todo-manage
            a#save(type='submit') Add
            a#return(type='submit') Return
    script(src='/add-notes.js')