extends /index
block header
    div.note
        input#title-note(type='text' value=notesList.title name='title')
        textarea#textarea(cols='45' rows='5' name='description')=notesList.description
        div#todo-manage
            a#save(type='submit') Edit
            a#delete(type='submit') Delete
            a#return(type='submit') Return
    script(src='/edit-delete-note.js')