extends /index
block header
    div#note-list(class='note')
        input#title-note(class='note-title-text' maxlength="15" value=`${listItem.title}` name='title')
        ul#todo-list
            each val, index in listItem.classlist
                li.todo-item.todo-item_ml
                    input.checkbox(type='checkbox')
                    input(class=`list ${val}` type='text' value= listItem.text[index] maxlength="20")
                    button#delItem
                        i(class="fas fa-times-circle")
        div#todo-manage
            input#list-input(type='text' maxlength="20" placeholder='Enter task')
            button#list-button(type='submit')
                i(class="fas fa-plus-circle")
            button#save(type='submit')
                i(class="fas fa-save")
            button#delete(type='submit')
                i(class="fas fa-trash-alt")
            button#return(type='submit')
                i(class="fas fa-undo")
    script(src='/edit-list.js')